html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
body {
	margin: 0;
}
img {
	border: 0;
}
button, input, optgroup, select, textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}
button {
	overflow: visible;
}
button, select {
	text-transform: none;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}
body {
	background-color: #0c0c0c;
	font-size: 14px;
	line-height: 1.6;
	font-family: "Montserrat",sans-serif;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}
.l-viewport {
	position: relative;
	width: 100%;
	height: 100vh;
	box-shadow: 0 0 45px 5px rgba(0, 0, 0, 0.85);
	overflow: hidden;
}
.l-wrapper {
	position: relative;
	width: 1440px;
	max-width: 90%;
	height: 100%;
	margin: 0 auto;
}
.l-side-nav {
	position: absolute;
	left: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.l-side-nav::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 2px;
	height: 70%;
	max-height: 750px;
	background-color: #555;
	opacity: .35;
	z-index: 10;
}
.l-main-content {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}
.l-section {
	position: absolute;
	width: 100%;
	height: 100%;
}
.global {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	
}
.globallogo {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	text-decoration: none;
	color: #fff;
}
.globallogo p {
	margin: 0 0 0 10px;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
}
.header {
	position: absolute;
	top: 0;
	left: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 70px;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	z-index: 10;
}
.header-logo {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	text-decoration: none;
	color: #fff;
}
.header-logo p {
	margin: 0 0 0 10px;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
}
.header-nav-toggle {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 50px;
	height: 50px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	cursor: pointer;
}
.header-nav-toggle span, .header-nav-toggle::before, .header-nav-toggle::after {
	content: "";
	position: relative;
	width: 16px;
	height: 2px;
	background-color: #fff;
}
.header-nav-toggle::before {
	bottom: 5px;
	width: 23px;
}
.header-nav-toggle::after {
	top: 5px;
	width: 23px;
}
.header-cta {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	padding: 0 20px;
	line-height: 30px;
	text-decoration: none;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	background-color: #0f33ff;
	border: none;
	opacity: 0;
	visibility: hidden;
}
.header-cta:focus {
	outline: none;
}
.header-cta.is-active {
	opacity: 1;
	visibility: visible;
}
.side-nav {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100px;
	height: 70%;
	max-height: 750px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	margin: 0;
	padding: 0;
	list-style-position: inside;
	z-index: 10;
}
.side-nav > li {
	position: relative;
	top: -5px;
	color: #fff;
	font-size: 6px;
	cursor: pointer;
}
.side-nav > li span {
	position: relative;
	top: 3px;
	left: 10px;
	color: #fff;
	font-size: 14px;
	font-weight: 300;
	opacity: 0;
	visibility: hidden;
}
.side-nav > li::before {
	position: absolute;
	top: 3px;
	left: 10px;
	color: #555;
	font-size: 14px;
	font-weight: 300;
}
.side-nav li:nth-child(1)::before {
	content: "01";
}
.side-nav li:nth-child(2)::before {
	content: "02";
}
.side-nav li:nth-child(3)::before {
	content: "03";
}
.side-nav li:nth-child(4)::before {
	content: "04";
}
.side-nav li:nth-child(5)::before {
	content: "05";
}
.side-nav li.is-active {
	color: #0f33ff;
}
.side-nav li.is-active span {
	opacity: 1;
	visibility: visible;
}
.side-nav li.is-active::before {
	left: -33px;
	color: #fff;
}
.work {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 960px;
	max-width: 80%;
	height: 100%;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin: 0 auto;
}
.work h2 {
	margin: 0 0 20px 0;
	font-size: 30px;
	text-align: center;
}
.work-lockup {
	position: relative;
}
.work-lockup .slider {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 80%;
	margin: 0 auto;
	padding: 0;
	list-style: none;
}
.work-lockup .slider-item {
	position: absolute;
	display: none;
	text-align: center;
}
.work-lockup .slider-item a {
	text-decoration: none;
	color: #858585;
}
.work-lockup .slider-item-title {
	margin-top: 10px;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
}
.work-lockup .slider-item-description {
	display: none;
	max-width: 250px;
	margin: 0 auto;
}
.work-lockup .slider-item-image {
	width: 150px;
	height: 150px;
	margin: 0 auto;
	border-radius: 50%;
	overflow: hidden;
}
.work-lockup .slider-item-image img {
	width: 100%;
}
.work-lockup .slider-item-left {
	top: 50%;
	left: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	display: block;
}
.work-lockup .slider-item-right {
	top: 50%;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	display: block;
}
.work-lockup .slider-item-center {
	position: relative;
	top: 30px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	display: block;
}
.work-lockup .slider-item-center a {
	color: #fff;
}
.work-lockup .slider-item-center .slider-item-title {
	margin-top: 25px;
	font-size: 16px;
}
.work-lockup .slider-item-center .slider-item-description {
	display: block;
}
.work-lockup .slider-item-center .slider-item-image {
	width: 300px;
	height: 300px;
}
.work-lockup .slider--next, .work-lockup .slider-prev {
	position: absolute;
	top: 160px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 50px;
	height: 50px;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	background-color: #282828;
	border-radius: 50%;
	cursor: pointer;
}
.work-lockup .slider--next svg, .work-lockup .slider-prev svg {
	width: 20px;
	fill: #fff;
}
.work-lockup .slider--next {
	right: 0;
}
.work-lockup .slider-prev {
	left: 0;
}
.work-request {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	color: #fff;
}
.work-request input[type="submit"] {
	width: 400px;
	max-width: 100%;
	line-height: 50px;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	background-color: #0f33ff;
	border: none;
	border-radius: 0;
}
.work-request input[type="submit"]:focus {
	outline: none;
}
.work-request--options {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 30px 0;
}
.work-request--options .options-a {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.work-request--options .options-b {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 72%;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}
.work-request--options label {
	display: block;
	width: 200px;
	margin-bottom: 30px;
	line-height: 50px;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	border: 2px solid #fff;
	cursor: pointer;
	-webkit-transition: background-color .2s ease-in-out,border-color .2s ease-in-out;
	transition: background-color .2s ease-in-out,border-color .2s ease-in-out;
}
.work-request--options label svg {
	position: relative;
	left: -5px;
	width: 0;
	fill: #fff;
	-webkit-transition: width .2s ease-in-out;
	transition: width .2s ease-in-out;
}
.work-request--options input[type="checkbox"] {
	display: none;
}
.work-request--options input[type="checkbox"]:checked + label {
	background-color: #0f33ff;
	border-color: #0f33ff;
}
.work-request--options input[type="checkbox"]:checked + label svg {
	width: 15px;
}
.work-request--information {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-bottom: 60px;
}
.work-request--information .information-name, .work-request--information .information-email {
	position: relative;
	width: 45%;
	height: 50px;
	font-size: 30px;
	font-weight: 300;
}
.work-request--information input[type="text"], .work-request--information input[type="email"] {
	width: 100%;
	padding: 0 0 5px 0;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #fff;
	border-radius: 0;
}
.work-request--information input[type="text"]:focus, .work-request--information input[type="email"]:focus {
	outline: none;
	background-color: #0c0c0c;
}
.work-request--information label {
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
	-webkit-transition: top .2s ease-in-out,font-size .2s ease-in-out;
	transition: top .2s ease-in-out,font-size .2s ease-in-out;
}
.work-request--information input:focus + label, .work-request--information input.has-value + label {
	top: -15px;
	font-size: 14px;
}
.onr {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	cursor: pointer;
	z-index: 11;
}